<div class="container" *ngIf="animal">
  <div class="row">
    <div class="col-12">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title
            >{{ animal[0].species }} <button mat-button color="primary" (click)="deleteAnimal()">Delete</button>
            <button mat-button color="primary">Edit Habitat</button>
          </mat-card-title>
          <mat-card-subtitle>{{ animal[0].info }}</mat-card-subtitle>
        </mat-card-header>
        <img class="cardImage" mat-card-image src="{{ animal[0].img }}" />
      </mat-card>
    </div>
  </div>
</div>
